<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled Bootstrap JavaScript -->
  <script src=" http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js "></script>
    <link rel='stylesheet' href={{ url_for("static",filename="css/bootstrap.css")}}>
    <link rel="stylesheet" type="text/css" href={{ url_for("static",filename="css/Decide2.css")}}>
    <title>Decide</title>
</head>
<body>
  <form method="post">
  </form>
  <!--Insert navigation bar here, with options: Make a decision, About, Contact Us-->
  <div class="container-fluid main">
    <ul class="navbar sticky-top navbar-light bg-light">
      <li id="list"><a href="{{ url_for('Home') }}">Home</a></li>
      <li id="list"><a class="active" href="#decide">Make a decision</a></li>
      <li id="list"><a href="{{ url_for('Home') }}">About</a></li>
      <li id="list"><a href="{{ url_for('Home') }}">Contact Us</a></li>
    </ul>
    <span id="imagelogo">
      <a href="{{ url_for('Home') }}">
        <img src="../static/Images/Logo.png" id="logo2" href="Decision1.html">
      </a>
    </span>
  </div>
  <div>
    <div class="container decide1">
     <div id="instruction">
       <h2> Okay {{name}}, you can now list the options you are deciding on below.</h2>
     </div>
     <div class="container questions">
       <form method="post" action="/decide2">
         <span id="option">
           <label for="name">Option 1: </label><input name="option1" id="optionn1" required="required">
         </span><br>
         <br><span id="option">
           <label for="name">Option 2: </label><input name="option2" id="optionn2" required="required">
         </span><br>
         <br><span id="option">
           <label for="name">Option 3: </label><input name="option3" id="optionn3" required="required">
         </span><br>
         <br><span id="submit1">
           <input type="submit" value="Submit" id="submit-button">
         </span>
       </form>
    </div>
  </div>
</div>
</body>
