<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled Bootstrap JavaScript -->
  <script src=" http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js "></script>
    <link rel='stylesheet' href={{ url_for("static",filename="css/bootstrap.css")}}>
    <link rel="stylesheet" type="text/css" href={{ url_for("static",filename="css/Decide2.css")}}>
    <title>Decide</title>
</head>
<body>
  <form method="post">
  </form>
  <!--Insert navigation bar here, with options: Make a decision, About, Contact Us-->
  <div class="container-fluid main">
    <ul class="navbar sticky-top navbar-light bg-light">
      <li id="list"><a href="{{ url_for('Home') }}">Home</a></li>
      <li id="list"><a class="active" href="#decide">Make a decision</a></li>
      <li id="list"><a href="{{ url_for('Home') }}">About</a></li>
      <li id="list"><a href="{{ url_for('Home') }}">Contact Us</a></li>
    </ul>
    <div id="imagelogo">
      <a href="{{ url_for('Home') }}">
        <img src="../static/Images/Logo.png" id="logo2" href="Decision1.html">
      </a>
    </div>
  </div>
  <div>
    <div class="container decide1">
     <div id="instruction">
       <h2> At this point, you would have to rank each option based on the variables previously listed.</h2>
       <h3> Beginning with option 1,<span id="key"> {{option1}} </span>, you can rank it below, on a scale of 1 (bad) to 5 (good) <h3>
     </div>
     <div class="container questions">
       <form method="post" action="/decide4.2">
         <span id="option">
           <label for="name">{{variable1}}: </label><input name="rank1.1" id="rank1.1" required="required">
         </span><br>
         <br><span id="option">
           <label for="name">{{variable2}}: </label><input name="rank1.2" id="rank1.2" required="required">
         </span><br>
         <br><span id="option">
           <label for="name">{{variable3}}: </label><input name="rank1.3" id="rank1.3" required="required">
         </span><br>
         <br><span id="submit1">
           <input type="submit" value="Submit" id="submit-button">
         </span>
       </form>
    </div>
  </div>
</div>
</body>
