<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled Bootstrap JavaScript -->
  <script src=" http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js "></script>
    <link rel='stylesheet' href={{ url_for("static",filename="css/bootstrap.css")}}>
    <link rel="stylesheet" type="text/css" href={{ url_for("static",filename="css/Contact.css")}}>
    <title>Decide</title>
</head>
<body>
  <form method="post">
  </form>
  <!--Insert navigation bar here, with options: Make a decision, About, Contact Us-->
  <div class="container-fluid main">
    <ul class="navbar sticky-top navbar-light bg-light">
      <li id="list"><a href="{{ url_for('Home') }}">Home</a></li>
      <li id="list"><a class="active" href="{{ url_for('Howitworks')}}">How it works</a></li>
      <li id="list"><a href="{{ url_for('Decide')}}">Make a decision</a></li>
      <li id="list"><a href="{{ url_for('Home') }}">About</a></li>
      <li id="list"><a href="{{ url_for('Home') }}">Contact Us</a></li>
    </ul>
    <span id="imagelogo">
      <a href="{{ url_for('Home') }}">
        <img src="../static/Images/Logo.png" id="logo2" href="Decision1.html">
      </a>
    </span>
  </div>
  <form method="post">
  </form>
  <div class="container howit">
    <div class="row">
      <div class="col-md-3"><img id="how idea" src="../static/images/Ideas.png"></div>
      <div class="col-md-3"><img id="how factors" src="../static/images/Factors.png"></div>
      <div class="col-md-3"><img id="how ranking" src="../static/images/Ranking.png"></div>
      <div class="col-md-3"><img id="how vote" src="../static/images/Vote.png"></div>
    </div>
    <div>
      <div id="contactdetes">
        <p id="leadtext"> Decisions 1.0 is used to help make your decisions easier.</p>
        <p> So far you can only have 3 options and 3 variables, but we hope to improve that soon enough</p>
      </div>
      <div id="Goback">
        <a href="{{ url_for('Home') }}"><button type="button" class="button">Back to Home</button></a>
      </div>
    </div>
  </div>

</body>
