/* GENERIC DESIGN: Page design/Background */
body{
  background-color: rgba(245,105,50,0.6);
}
h2{
  text-align: center;
  font-family: rough;
  font-size: 40px;
  font-weight: bold;
}
p{
  text-align: center;
  font-family: clean;
}
.main{
  background-color: white;
}
@font-face {
  font-family: clean;
  src: url('../fonts/Raleway-Regular.ttf');
}
@font-face {
  font-family: cleaner;
  src: url('../fonts/Raleway-ExtraLight.ttf');
}
@font-face {
  font-family: rough;
  src: url('../fonts/Inkfree.ttf');
}

/* Navigation bar*/
.navbar{
  margin-top: 20px;
  margin-left: -5px;
}
ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255,255,255,0.9);
    top: 0;
    font-family: clean;
    text-transform: uppercase;
    font-size: 15px;
}
li {
    float: left;
    margin-left: 10px;
}
li a {
    display: block;
    color: rgb(245,115,60);
    text-align: center;
    padding: 16px 25px;
    text-decoration: none;
}
li a:hover {
    background-color: rgba(245,105,50,0.3);
    border-radius: 30px;
}
.active {
    background-color:  rgba(245,105,50,0.7);
    color: white;
    border-radius: 30px;
}


/* Decisions Button - container; display: flex-box; direction:center*/
.buttoncon{
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 30px;
  height: 90%;
}
#abc{
  max-width: 35%;
  max-height: 40%;
  align-self: center;
  margin-top: 5.5%;
  margin-bottom: 5%;
}
#Decibut{
  text-align: center;
  margin-bottom: 7%;
}
.button {
  background-color: rgba(245,105,50,0.8);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 20px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 40px;
  font-family: clean;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
.button:hover {opacity: 1}

/* About Us*/
.about{
  height: auto;
  background-color: white;
}
.mespecific{
  margin-top: 20px;
}
#imageme{
  height: 175px;
  width: 175px;
  border-radius: 100px;
}
.image-container{
  text-align: center;
}
.infoaboutcreator{
  margin-top: 10px;
}
.othertext{
  margin-top: 30px;
}
.row{
  margin-top: 20px;
}


/* Contact Us */
#contactustext{
  color: white;
}
.contact{
  height: auto;
  background-color: rgba(0,0,0,0);
  text-align: center;
}
#contact-form{
  font-family: clean;
  font-size: 17px;
}
#email{
  width: 30%;
  margin-left: 0.5%;
}
/*Social Media links*/
.socialmedia{
  text-align: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: thin;
    margin-left: 10px;
}
.fa:hover {
    opacity: 0.6;
}
.fa-facebook {
    color: white;

}
.fa-twitter {
    color: white;
}
.fa-youtube {
    color: white;
}
.fa-instagram{
  color: white;
}
