/* GENERIC DESIGN: Page design/Background */
body{
  background-color: rgba(245,105,50,0.6);
}
h2{
  text-align: center;
  font-family: clean;
  font-size: 25px;
}
h3{
  text-align: center;
  padding-right: 10%;
  font-family: clean;
}
h4{
  text-align: center;
  font-family: clean;
  font-size: 25px;
  font-weight: bold;
}
h5{
  text-align: center;
  font-family: rough;
  font-size: 22px;
  font-weight: bold;
}
p{
  text-align: center;
}

/* All fonts available */
@font-face {
  font-family: clean;
  src: url("Raleway-Regular.ttf");
}
@font-face {
  font-family: cleaner;
  src: url("Raleway-ExtraLight.ttf");
}
@font-face {
  font-family: rough;
  src: url("Inkfree.ttf");
}

/* Navigation bar*/
.main{
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#logo2{
  max-width: 65%;
  margin-top: -0.5%;
}
.navbar{
  margin-top: 20px;
  margin-left: 5px;
  flex-grow: 1;
}
ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255,255,255,0.9);
    top: 0;
    font-family: clean;
    text-transform: uppercase;
    font-size: 15px;
}
#list {
    float: left;
    margin-left: 10px;
  }
li a {
    display: block;
    color: rgb(245,115,60);
    text-align: center;
    padding: 16px 25px;
    text-decoration: none;
}
li a:hover {
    background-color: rgba(245,105,50,0.3);
    border-radius: 30px;
}
.active {
    background-color:  rgba(245,105,50,0.7);
    color: white;
    border-radius: 30px;
}

/* Main body, the results area*/
.decide1{
  background-color: white;
  margin-top: 1.7%;
  margin-bottom: 1.7%;
  height: auto;
  width: 97%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}
#contactdetes{
  margin-top: 2%;
}
.row{
  align-content:space-between;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.finalresults{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
.col-md-6{
  width: 75%;
}
.col-md-4{
  width: 10%
}
.end{
  margin-bottom: 2%;
}

/*Button design*/
.reset{
  text-align: center;
}
#button{
  background-color: rgba(245,105,50,0.8);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 20px;
  margin: 10px 5px;
  margin-bottom: 20px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 40px;
  font-family: clean;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}
#button:hover {opacity: 1}
.button {
  background-color: rgba(245,105,50,0.8);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 20px;
  margin: 10px 5px;
  margin-bottom: 20px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 40px;
  font-family: clean;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}
.button:hover {opacity: 1}
.col-md-5{
  width: 50%;
  text-align: center;
}

#new{
  text-align: center;
}
