/* GENERIC DESIGN: Page design/Background */
body{
  background-color: rgba(245,105,50,0.6);
}
h2{
  text-align: center;
}
p{
  text-align: center;
}

/* All fonts available */
@font-face {
  font-family: clean;
  src: url("Raleway-Regular.ttf");
}
@font-face {
  font-family: cleaner;
  src: url("Raleway-ExtraLight.ttf");
}
@font-face {
  font-family: rough;
  src: url("Inkfree.ttf");
}

/* Navigation bar*/
.main{
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#logo2{
  max-width: 65%;
  margin-top: -0.5%;
}
.navbar{
  margin-top: 20px;
  margin-left: 5px;
  flex-grow: 1;
}
ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255,255,255,0.9);
    top: 0;
    font-family: clean;
    text-transform: uppercase;
    font-size: 15px;
}
#list {
    float: left;
    margin-left: 10px;
  }
li a {
    display: block;
    color: rgb(245,115,60);
    text-align: center;
    padding: 16px 25px;
    text-decoration: none;
}
li a:hover {
    background-color: rgba(245,105,50,0.3);
    border-radius: 30px;
}
.active {
    background-color:  rgba(245,105,50,0.7);
    color: white;
    border-radius: 30px;
}

/* Main body, the decision area*/
.decide1{
  background-color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 80%;
  width: 97%;
  border-radius: 10px;
  align-content: center;
  align-items: center;
}
h2{
  font-family: clean;
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.questions{
  font-family: clean;
  font-size: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}
#option{
  text-align: center;
}
#optionn1{
  width: 60%;
  margin-left: 2%
}
#optionn2{
  width: 60%;
  margin-left: 2%
}
#optionn3{
  width: 60%;
  margin-left: 2%
}
#submit1{
  text-align: center;
  margin-top: 15%;
}
#submit-button{
  background-color: rgba(245,105,50,0.8);
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  font-size: 20px;
  margin: 4px 2px;
  transition: 0.5s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 40px;
  font-family: clean;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
