<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled Bootstrap JavaScript -->
  <script src=" http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js "></script>
    <link rel='stylesheet' href={{ url_for("static",filename="css/bootstrap.css")}}>
    <link rel="stylesheet" type="text/css" href={{ url_for("static",filename="css/Ranking.css")}}>
    <title>Decide</title>
</head>
<body>
  <form method="post">
  </form>
  <!--Insert navigation bar here, with options: Make a decision, About, Contact Us-->
  <div class="container-fluid main">
    <ul class="navbar sticky-top navbar-light bg-light">
      <li id="list"><a href="{{ url_for('home') }}">Home</a></li>
      <li id="list"><a href="{{ url_for('how_it_works')}}">How it works</a></li>
      <li id="list"><a class="active" href="#decide">Make a decision</a></li>
      <li id="list"><a href="{{ url_for('home') }}">About</a></li>
      <li id="list"><a href="{{ url_for('home') }}">Contact Us</a></li>
    </ul>
    <div id="imagelogo">
      <a href="{{ url_for('home') }}">
        <img src="../static/Images/Logo.png" id="logo2" href="Decision1.html">
      </a>
    </div>
  </div>
  <div>
    <div class="container decide1">
     <div id="instruction">
       <h2> At this point, you would have to rank each option based on the variables previously listed.</h2>
       <h3> All the options and variables have been listed, please value each from 1 (very bad) to 10 (very good)</span><h3>
     </div>
     <div class="container questions">
       <form method="post" action="/finaldecision">
         <!--<span id="option">
           <label for="name">{{variable1}}: </label><input name="opt3rank1" id="optrank" required="required" type="number" min="1" max="10">
         </span><br>
         <br><span id="option">
           <label for="name">{{variable2}}: </label><input name="opt3rank2" id="optrank" required="required" type="number" min="1" max="10">
         </span><br>
         <br><span id="option">
           <label for="name">{{variable3}}: </label><input name="opt3rank3" id="optrank" required="required" type="number" min="1" max="10">
         </span><br>
         <br><span id="submit1">
           <input type="submit" value="Submit" id="submit-button">
         </span>-->
         <table width = 100%>
           <tr>
             <th></th>
             <th>{{variable[1]}}</th>
             <th>{{variable[1]}}</th>
             <th>{{variable[2]}}</th>
           </tr>
           <tr>
              <th>{{option[0]}}</th>
              <td><input name={{option[0]}},0 id="rank1" required="required" type="number" min="1" max="10"></td>
              <td><input name={{option[0]}},1 id="rank1" required="required" type="number" min="1" max="10"></td>
              <td><input name={{option[0]}},2 id="rank1" required="required" type="number" min="1" max="10"></td>
              <th>result 1</th>
           </tr>
           <tr>
              <th>{{option[1]}}</th>
              <td><input name={{option[1]}},0 id="rank1" required="required" type="number" min="1" max="10"></td>
              <td><input name={{option[1]}},1 id="rank1" required="required" type="number" min="1" max="10"></td>
              <td><input name={{option[1]}},2 id="rank1" required="required" type="number" min="1" max="10"></td>
              <th>result 2</th>
           </tr>
           <tr>
              <th>{{option[2]}}</th>
              <td><input name={{option[2]}},0 id="rank1" required="required" type="number" min="1" max="10"></td>
              <td><input name={{option[2]}},1 id="rank1" required="required" type="number" min="1" max="10"></td>
              <td><input name={{option[2]}},2 id="rank1" required="required" type="number" min="1" max="10"></td>
              <th>result 3</th>
           </tr>
         </table>
         <br><span id="submit1">
            <input type="submit" value="Submit" id="submit-button">
          </span>
       </form>
    </div>
  </div>
</div>
</body>
